<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Riding Start</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: white;
        }
        .image-container {
            display: flex;
            align-items: center;
            background-color: white;
        }
    </style>
</head>

<body>
<div class="image-container">

    <img src="images/brown.gif" alt="Motorbike Girl GIF" >

</div>
</body>
<script>

        setTimeout(() => {
            window.location.href = ' http://localhost:9696/ridingEnd';
        }, 30000);
</script>

</html>